div[id="bedrock-database-container"] {
    display: inline-block;
    font-family: sans-serif;
    text-align: left;
    padding: 4px 0px;
    width: 100%;
}

div[id="bedrock-database-display"] {
    height: 500px;
    border: solid;
    border-width: 1px;
    border-radius: 2px;
    border-color: #bbb;
}

div[id="bedrock-record-display"] {
    margin-top: 5px;
    font-size: 12px;
}

body.noScroll {
    overflow: hidden;
}

body {
    max-width: 800px;
}

div[id="selected"] {
    margin: 5px;
}

.bedrock-paged-display-table-row {
    height: 130px;
    padding-bottom: 5px;
}

.bedrock-paged-display-table-row-entry {
}

.bedrock-paged-display-table-row-entry-text {
    vertical-align: middle;
    line-height: 120px;
}

.bedrock-paged-display-hover {
    color: white;
    background-color: #aaa;
}

.bedrock-combobox-paged-display-table-row {
    height: 19px;
}

.bedrock-combobox-paged-display-hover {
    color: white;
}

.title-display-box {
    text-align:left;
    height:100%;
    white-space:normal;
    line-height:20px;
    word-wrap:break-word;
    vertical-align: middle;
}

.par {
    font-size: 16px;
    font-family: Times, serif;
    margin: 12px 0;
}
